:root {
    --background: #242e34;
    --background-tint: #1f2937;
    --icon-dark: #22201c;
    --light: #fefefc;
    --light-tint: #c6cbd3;
    --primary: #2563eb;
    --primary-tint: #3b82f6;
    --secondary: #374151;
    --secondary-tint: #4b5563;
    
    --gradient: linear-gradient(135deg, rgb(37, 99, 235), rgb(59, 130, 246));
    --box-shadow-menu-dark: 0 1px 3px rgba(0, 0, 0, 0.025), 0 2px 6px rgba(0, 0, 0, 0.025), 0 5px 10px rgba(0, 0, 0, 0.05);

    --border-width: 1px;

    --page-header-height: 10%;
    --sidebar-width: 17%;
    --content-header-height: 10%;
    --content-text-width: 80%;
    
    --font-size-large: 3rem;
    --font-size-medium: 2rem;
    --font-size-medium-small: 1.2rem;
    --font-size-small: 1rem;

    --font-weight-large: 600;
    --font-weight-medium: 600;
    --font-weight-medium-small: 500;
    --font-weight-small: 400;
    --font-family: Twemoji Country Flags, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--light);
    margin: 0;
    
    /* For debugging */
    /* border: #f8ed4e2f 0.5px solid;
    background-color: #fbfb4b14; */
}

html {
    background-color: var(--background);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#super-everything {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--page-header-height);
    padding: 1% 4%;
    border-bottom: var(--light) calc(var(--border-width) * 3) solid;
    
    .logo {
        width: 7rem;
    }
}

.guides {
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: var(--sidebar-width);
    min-width: fit-content;
    color: #fff;
    padding: 2% 2% 1% 2%;
    position: sticky;
    top: 0;
    align-self: flex-start;

    .nav-button {
        border: var(--light)  var(--border-width) none;
        border-radius: 5px;
        padding: 5px 10px;
        width: 100%;
    }

    .nav-button:hover {
        background-color: var(--secondary);
    }

    h2 {
        font-size: calc(var(--font-size-small) - 3px);
        font-weight: 400;
        color: var(--light-tint);
        margin-bottom: 0.5rem;
        margin-top: 2rem;
        padding: 0 10px;
        text-transform: uppercase;
    }
    ul {
        list-style-type: none;
        gap: 0px;
        padding: 0;
        margin: 0;
        width: 100%;

        li {
            margin: 10px 0;
            width: 100%;

            color: #fff;
            text-decoration: none;
            font-size: var(--font-size-small);
            
            a {
                text-decoration: none;
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 1% 15% 5%;
   /*  overflow-y: scroll; */
    scroll-behavior: smooth;
    width: calc(100% - var(--sidebar-width));
    border-left: var(--secondary) var(--border-width) solid;
    min-height: 100vh;

    .content-header {
        display: flex;
        flex-direction: column;
        border-bottom: var(--secondary) var(--border-width) solid;
        margin-bottom: 30px;
        width: 100%;
        max-width: 1100px;
        height: var(--content-header-height);

        h1 {
            font-size: var(--font-size-large);
            font-weight: var(--font-weight-large);
            color: var(--light);
            margin-bottom: 20px;
        }
    }

    .content-body {
        display: flex;
        flex-direction: row;
        max-width: 1100px;
        gap: 10%;

        
        .content-navigation {
            display: none;
            @media all and (min-width: 1000px) {
                display: flex;
            }

            flex-direction: column;

            position: sticky;
            top: 0;
            align-self: flex-start;

            padding: 5% 0;
            margin-right: 10%;
            min-width: 250px;
            width: calc(100% - var(--content-text-width));

            
            ul {
                list-style-type: none;
                gap: 0px;
                padding: 0;
                margin: 0;
                width: 100%;

                h3 {
                    font-size: calc(var(--font-size-small) - 3px);
                    text-transform: uppercase;
                    font-weight: 400;
                    color: var(--light-tint);
                    margin-bottom: 1rem;
                }
        
                li {
                    margin: 10px 0;
                    width: 100%;
        
                    a {
                        color: #fff;
                        text-decoration: none;
                        font-weight: 200;
                        font-size: var(--font-size-small)
                    }
                }

                ul {
                    list-style-type: none;
                    gap: 0px;
                    padding-left: 1.5rem;
                    margin: 0;
                    width: 100%;

                    li {
                        margin: 10px 0;
                        width: 100%;
            
                        a {
                            color: #fff;
                            text-decoration: none;
                            font-weight: 200;
                            font-size: var(--font-size-small)
                        }
                    }
                }
            }
        }

        .content-text {
            width: var(--content-text-width);

            .footer-buttons {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                grid-gap: 10rem;
                width: 100%;

                .button-wrapper
                {
                    display: flex;
                    width: fit-content;

                    button {
                        background-color: var(--secondary);
                        border: var(--secondary-tint) var(--border-width) solid;
                        color: var(--light);
                        border-radius: 5px;
                        padding: 0.5rem 1rem;
                        font-size: var(--font-size-small);
                        font-weight: var(--font-weight-small);
                        cursor: pointer;
                        min-width: fit-content;
                        
                        a {
                            text-decoration: none;
                            min-width: fit-content;
                        }
    
                        #previous-button {
                            padding-right: 0.3rem;
                            &::before {
                                content: "< ";
                            }
                        }
        
                        #next-button {
                            padding-left: 0.3rem;
                            &::after {  
                                content: " >";
                            }
                        }
                    }      
                }      
            }

            .content-section {
                display: flex;
                flex-direction: column;
                margin-bottom: 11%;

                .image-container {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 5%;
                    gap: 5%;

                    img {
                        max-width: 100%;
                        border-radius: 10px;
                    }
                }
        
                .section-header {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    min-height: fit-content;
                    margin-bottom: 5%;
                    
        
                    h1 {
                        font-size: var(--font-size-medium);
                        font-weight: var(--font-weight-medium);
                        color: var(--light);
                    }
                }
            
                .section-body {
                    .section-subsection {
                        margin-bottom: 10%;

                        h3 {
                            font-size: calc(var(--font-size-medium-small) + 2px);
                            font-weight: var(--font-weight-medium-small);
                            color: var(--light-tint);
                            margin-bottom: 4%;
                        }
                    }
                    

                    p {
                        color: var(--light);
                        font-size: var(--font-size-small);
                        font-weight: var(--font-weight-small);
                        margin-bottom: 1rem;
                    }

                    ul {
                        margin: 1rem 0 2rem 0;

                        li {
                            margin: 0.3rem 0;
                            width: 100%;
                            color: var(--light);
                            font-size: var(--font-size-small);
                            font-weight: var(--font-weight-small);
                        }
                    }

                    ol {
                        margin: 1rem 0 2rem 0;

                        li {
                            margin: 0.3rem 0;
                            width: 100%;
                            color: var(--light);
                            font-size: var(--font-size-small);
                            font-weight: var(--font-weight-small);
                        }
                    }
                }
            }
        }
    }
}