:root {
    --background: #242e34;
    --background-tint: #1f2937;
    --icon-dark: #22201c;
    --light: #fefefc;
    --light-tint: #c6cbd3;
    --primary: #2563eb;
    --primary-tint: #3b82f6;
    --secondary: #374151;
    --secondary-tint: #4b5563;
    
    --gradient: linear-gradient(135deg, rgb(37, 99, 235), rgb(59, 130, 246));
    --box-shadow-menu-dark: 0 1px 3px rgba(0, 0, 0, 0.025), 0 2px 6px rgba(0, 0, 0, 0.025), 0 5px 10px rgba(0, 0, 0, 0.05);

    --border-width: 1px;

    --page-header-height: 10%;
    --sidebar-width: 5%;
    --content-header-height: 10%;
    --content-text-width: 80%;
    
    --font-size-large: 3rem;
    --font-size-medium: 1.5rem;
    --font-size-medium-small: 1.2rem;
    --font-size-small: 1rem;
    --font-family: Twemoji Country Flags, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--light);
    margin: 0;
    
    /* For debugging */
    /* border: #f8ed4e2f 0.5px solid;
    background-color: #fbfb4b14; */
}

html {
    background-color: var(--background);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--page-header-height);
    padding: 1% 4%;
    border-bottom: var(--light) calc(var(--border-width) * 3) solid;
    
    .logo {
        width: 7rem;
    }
}

.guides {
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: var(--sidebar-width);
    min-width: fit-content;
    color: #fff;
    padding: 2% 4% 1% 2%;
    position: sticky;
    top: 0;
    align-self: flex-start;

    .nav-button {
        border: var(--light)  var(--border-width) none;
        border-radius: 5px;
        padding: 5px 10px;
        width: 100%;
    }

    .nav-button:hover {
        background-color: var(--secondary);
    }

    h2 {
        font-size: calc(var(--font-size-medium-small) - 3px);
        font-weight: 400;
        color: var(--light-tint);
        margin-bottom: 1rem;
        padding: 0 10px;
        text-transform: uppercase;
    }
    ul {
        list-style-type: none;
        gap: 0px;
        padding: 0;
        margin: 0;
        width: 100%;

        li {
            margin: 10px 0;
            width: 100%;

            a {
                color: #fff;
                text-decoration: none;
                font-size: var(--font-size-medium-small)
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    padding: 2% 1% 2% 5%;
   /*  overflow-y: scroll; */
    scroll-behavior: smooth;
    width: calc(100% - var(--sidebar-width));
    border-left: var(--secondary) var(--border-width) solid;

    .content-header {
        display: flex;
        flex-direction: column;
        border-bottom: var(--secondary) var(--border-width) solid;
        margin-bottom: 30px;
        height: var(--content-header-height);

        h1 {
            font-size: var(--font-size-large);
            font-weight: 500;
            color: var(--light);
            margin-bottom: 20px;
        }
    }

    .content-body {
        display: flex;
        flex-direction: row;
        gap: 10%;

        
        .content-navigation {
            display: none;
            @media all and (min-width: 1000px) {
                display: flex;
            }

            flex-direction: column;

            position: sticky;
            top: 0;
            align-self: flex-start;

            padding: 5% 0;
            margin-right: 10%;
            min-width: fit-content;
            width: calc(100% - var(--content-text-width));

            
            ul {
                list-style-type: none;
                gap: 0px;
                padding: 0;
                margin: 0;
                width: 100%;

                h3 {
                    font-size: calc(var(--font-size-medium-small) - 3px);
                    font-weight: 400;
                    color: var(--light-tint);
                    margin-bottom: 1rem;
                }
        
                li {
                    margin: 10px 0;
                    width: 100%;
        
                    a {
                        color: #fff;
                        text-decoration: none;
                        font-weight: 200;
                        font-size: var(--font-size-small)
                    }
                }
            }
        }

        .content-text {
            width: var(--content-text-width);

            .content-section {
                display: flex;
                flex-direction: column;
        
                .section-header {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    min-height: fit-content;
        
                    h1 {
                        font-size: var(--font-size-medium);
                        font-weight: 400;
                        color: var(--light);
                        margin-bottom: 20px;
                        margin-top: 40px;
                    }
                }
            
                .section-body {
                    p {
                        color: var(--light);
                        font-size: var(--font-size-small);
                        font-weight: 200;
                    }
                }
            }
        }
    }
}