:root {
	--light: #EEE;
	--dark: #252625;
	--darker: #070807;
	--pink: #EC4899;
	--purple: #885CF6;
	--yellow: #edc447;
	--olive: #423E37;
}

* {
	box-sizing: border-box;
	font-family: 'Spectral', 'Georgia', serif;
}

h1 {
	max-width: 800 px;
	width: 100%;
	margin: 4% 0%;

	color: var(--yellow);
}

h2, h3, h4 {
	margin: 2% 0%;
	max-width: 800 px;

	color: var(--purple);
}

p {
	color: var(--olive);
}

a {
	color: var(--purple);
}

div {
	border-style: solid;
	border-color: var(--pink);
	border-radius: 50px;
	border-width: 5px;
	background: var(--yellow);
	padding: 5%;
	margin-left: 0%;
	margin-right: 0%;
	max-width: 400px;
	float: center;
}

body {
	display: flex;
	flex-direction: column;
	margin: 5% 20%;
	min-height: 100vh;
	background-image: linear-gradient(to top, var(--pink), var(--purple));
}

main {
	margin: 5% 0%;
}

#pink {
	color: var(--pink);
}

#yellow {
	color: var(--yellow);
}