:root {
	--light: #EEE;
	--dark: #252625;
	--darker: #070807;
	--pink: #EC4899;
	--purple: #885CF6;
	--lightgreen: #75e078;
	--lightgreenApink: #75e0a7;
	--darkgreen: #29943B;
}

* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
}

h1,h3 {
	text-align: center;
}

h2 {
	color: var(--pink);
	text-align: center;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: var(--purple);
	color: var(--lightgreen);
}

header {
	padding: 2rem 3rem;
	max-width: 800 px;
	width: 100%;
	margin: 0 auto;
}

div {
	border-style: outset;
	border-color: var(--pink);
	border-radius: 25px;
	border-width: 5px;
	background: var(--lightgreenApink);
	padding: 0.5rem 0.5rem;
	margin: 0.5rem auto;
	max-width: 800px;
	float: center;
}

.innerDivs {
	background: var(--pink);
	border-color: var(--lightgreen);
	border-width: 5px;
	border-style: outset;
	padding: 1rem 2rem;
	border-radius: 25px;
	margin: auto
	max-width: 300px;
	color: var(--lightgreenApink);
}

label {
	display: block;
	color: var(--light);
}

.submitButton {
	border-style: none;
	border-width: 0px;
	border-radius: 0px;
	background: transparent;
	max-width: 10rem;
	padding: 0rem 0rem;
	margin: auto
}

input {
	background: var(--purple);
	color: var(--light);
	text-decoration-color: var(--light);
	border-color: var(--lightgreen);
	border-width: 3px;
	border-style: solid;
	padding: 0rem 0.5rem;
	width: 100%;
	margin: 0.2rem 0.2rem;
}

::placeholder {
	opacity: 1;
	color: var(--lightgreen);
};