:root {
	--light: #EEE;
	--dark: #252625;
	--darker: #070807;
	--pink: #EC4899;
	--purple: #885CF6;
	--yellow: #edc447;
	--darkyellow: #E1BB4A;
	--light2: #E9C0CE;
	--olive: #423E37;
}

* {
	box-sizing: border-box;
	font-family: 'Spectral', 'Georgia', serif;
}

body {
	display: flex;
	flex-direction: column;
	margin: 5% 20%;
	min-height: 100vh;
	background-image: linear-gradient(to top, var(--pink), var(--purple));
}

.header {
	display: flex;
	flex-direction: column;
	gap: 0px;
}

.header h1 {
	max-width: 800 px;
	width: 100%;
	margin: 2% 0%;

	color: var(--yellow);
}

.header h3 {
	margin: 2% 0%;
	max-width: 800 px;

	color: var(--yellow);
}

.header p {
	color: var(--yellow);
}

.project-pane {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5%;
}

.project-pane h2 {
	margin: 2% 0%;
	max-width: 800 px;

	color: var(--purple);
	/*text-shadow: 0.5px 1px 1px var(--olive);*/
}

.project-pane p {
	color: var(--olive);
}

.project-pane a {
	color: var(--purple);
}

.project {
	margin: 5% 5%;
	border-style: outset;
	border-color: var(--pink);
	border-radius: 50px;
	border-width: 2px;
	background-image: linear-gradient(to top, var(--darkyellow), var(--yellow));
	padding: 5%;
	margin-left: 0%;
	margin-right: 0%;
	max-width: 400px;
	float: center;
}

#pink {
	color: var(--light2);
}